*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

body{
    min-height: 94vh;
    background-color: rgba(84, 9, 154, 0.841);
    background-image: url(images/bg-desktop.svg);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

header{
    margin: 50px 0 0 50px;
}

.container{
    display: flex;
    flex-flow: row nowrap ;
    align-items: center;
    height: 660px;
    margin: 50px 0 0 50px;
}  
.left {
    flex: 1 1 auto;
    width: 100%;
}
.left img{
    width: 90%;
    min-width: 300px;
}

.right{
    flex: 1 1 auto;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: flex-start;
    margin-top: 100px;
    min-width: 300px;
}
.right p{
    margin-right: 200px;
}

h1{
    font-size: 50px;
    font-weight: 400;
}

p{
    font-size: 20px;
    font-weight: 300;

}

button{
    margin-top: 20px;
    align-self: flex-start;
    border-radius: 30px;
    width: 200px;
    height: 60px;
    border-color: rgba(0, 0, 0, 0.108);
}

button a{
    color: rgb(117, 39, 117);
    text-decoration: none;
    font-size: 20px;
    width: 200px;
    height: 60px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
footer a{
    width: 70px;
    text-align: center;
    color: white;
    font-size: 35px;
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 80px;
    padding: 10px;
}

@media (max-width:700px) {

    body{
        min-height: 0;
    }
    
    header{
        margin: 30px 0 15px 15px;
    }
    
    .container{
        flex-flow: wrap;
        justify-content: center;
        align-items: flex-start;
        margin: 0 20px 0 20px;
    }

    .left{
        margin: 0;
    }

    .left img{
        width: 100%;
    }

    .right{
        margin: 0;
    }

    h1{
        margin: 0;
        font-size: 40px;
        font-weight: 400;
        text-align: center;
    }
    
    p{
        margin: 0;
        font-size: 20px;
        font-weight: 300;
    }
    .right p{
        margin-right: 0;
        text-align: center;
    }

    footer{
        justify-content: center;
    }

    footer a{
        
        margin: 50px 20px 20px 0;
        width: 40px;
        font-size: 25px;
        border-radius: 30px;
        padding: 0px;
}

    button{
    align-self: center;
}
}